/* ----------------- Contact.html Styles ----------------- */
#map-placeholder iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.whatsapp-float-button {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    background-color: #25D366; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

    .whatsapp-float-button:hover {
        background-color: #128C7E;
    }

#scrollTopBtn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    height: 50px;
    width: 50px; 
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    line-height: 50px;
    text-align: center;
    padding: 0;
}

