/* --- Sticky Footer Layout --- */
html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


main {
    flex: 1 0 auto;
}


footer {
    flex-shrink: 0;
}

.hero-section{
    background-image:url('image/hero.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    min-height:400px;
    overflow:hidden;
}
    .hero-section .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(205, 255, 182, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px 5px;
        z-index: 1;
    }

    .hero-section .container {
        position: relative;
        z-index: 2;
    }

.container text-center{
    background-image:url('image/2.jpg');
}